补充这些功能：
1.下方的搜索结果的用card包一下，然后用分割线分为上下两部分。上面左侧展示标题，上面右侧则有新增，下载模板，导出，导入四个按钮。下面则为table以及table下面的翻页组件。
2.点击新增，则展示新增的大弹窗，弹窗内为表单，可点击提交与重置。
3.点击下载模板，可下载存在前端中staticl里面的静态文件
4.点击导出，可以导出文件，文件内容为在该筛选条件下，搜索到的结果列表，文件名为“搜素结果类型-时间戳”
5.点击导入，用户将上传按照下载模板格式填写的文件提交，后台接受数据后更新数据库，提交成功清空筛选条件，重新查询
6.用户在使用该rules时，可以自行配置按钮展示情况，在没有主动提及时，不要加下载模板，导出，导入按钮。
7.下载模板，导出，导入按钮所有行为都要带有对应提示。
8.补充功能，要求展示搜索结果的table的操作列要有查看，修改，删除的操作按钮。其中点击查看弹窗展示该结果详情；点击修改的弹窗展示内容要与点击新增按钮展示的弹窗效果一致，且修改的弹窗展示内容要有回显内容，； 点击删除，有提示弹窗MessageBox“是否删除”，是则删除
9.补充细节，：1.一个筛选项最少要占一行的三分之一宽度 ，如果一行当中的某一筛选项超过了行数的三分之一，后面的筛选项会自然的向后排，超过一行就换行
2.page组件要用中文 
10.补充细节，：1.筛选框不要有滚动条，要自适应高度，查询与重置按钮要换行放在右侧。
2.筛选框里面的筛选项组件如input,select等，不用自适应填满宽度，用默认的定宽就好
3.table的height要根据上方筛选组件部分高度，标题，page组件高度等自适应高度，页面大小改变时也要自适应高度
